* {box-sizing: border-box;}
* {margin: 0; padding: 0;}

body {
  background: #444;
  color: #555;
  font: normal 0.89em arial, sans-serif;
}

img {
  border: 0;
}

.parallax {
  background-attachment: fixed;
  background-image: url("content_2.jpg");
  /* height: 500px; */ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Typography */
p {
  line-height: 1.7em;
  padding: 0 0 16px 0;
}

h1,
h2,
h3 {
  color: #111;
  font: normal 175% 'century gothic', arial, sans-serif;
  margin: 40px 0 15px 0;
  padding: 15px 0 5px 0;
}

h2 {
  color: #444;
  font: normal 175% 'century gothic', arial, sans-serif;
}

ul {
  margin: 2px 0 22px 0px;
}

ul li {
  list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

ol {
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px 0;
}

/* a, a:hover
{ outline: none;
  color: #111;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}
 */

#main,
#header,
#logo,
#menubar,
#page_content,
#footer {
  margin: auto;
}

#main {
  height: 100%;
  width: 100%;
}

#header {
  width: 68%;
}

#logo {
  background-color: #D3D3D3;
  /* background: url(logo.jpg) no-repeat; */
  height: 180px;
  position: relative;
  width: 100%;
}

#logo h1, 
#logo h2 {
  border-bottom: 0;
  font: normal 300% 'century gothic', arial, sans-serif;
  margin: 0;
  text-transform: none;
}

#logo_text h1, 
#logo_text h1 a,
#logo_text h1 a:hover  {
  color: #FFF;
  letter-spacing: 0.1em;
  padding: 60px 0 0 0;
  text-decoration: none;
  text-align: center;}

#logo_text h2 {
  color: #444;
  font-size: 130%;
  padding: 0;
  text-align: center;
}

#page_content {
  background: #FFFFFF;
  /* background: #F8F8F8; */
  overflow: hidden;
  width: 68%;
} 

#footer {
  background: #555;
  border-top: 1px solid #FFF;
  color: #AAA;
  font-size: 80%;
  letter-spacing: 0.2em;
  padding: 50px 50px 5px 60px;
  text-align: left; 
  text-transform: uppercase;
  width: 100%
}

/* Carousel */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Carousel container */
.slideshow-container {
  margin: auto;
  max-width: 100%;
  position: relative;
}

/* Next & previous buttons */
.slides-prev, .slides-next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

/* Position the "next button" to the right */
.slides-next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.slides-prev:hover, 
.slides-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 100%;
}

/* Number text (1/3 etc) */
.slides-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slides-dot {
  background-color: #bbb;
  border-radius: 30%;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  height: 15px;
  width: 15px;
}

.active, 
.slides-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

/* Location  modals*/
.loc-column {
  float: left;
  padding: 0 12px;
  padding-left: 0;
  padding-top: 16px;
  width: 50%;
}
.loc-column:last-child {
  position: relative; 
  left: 25%;
  width: 50%;
}

.loc-column  img{
  width: 100%;
}

.loc-thumb {
  width: 100%;
  position: relative;
}

.loc-des {
  background: #F8F8F8;
  color: #4d4d4d;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  bottom: -1px!important;
  text-align: center;
  transition: height 200ms;  
  height: 35%;
  width: 100%;
}

.loc-des p {
  color: rgb(0, 0, 0);
  padding-top: 11%;
  margin-bottom: -16px;
  font: inherit;
}

.loc-thumb:hover .loc-des {
  height: 100%;
  background-color: #3f704d; 
  opacity: 0.85;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #ffffff!important;
  padding-top: 20%;
}

.loc-thumb:hover .loc-des p {
  color: #ffffff;
  font: inherit;
}

.loc-thumb:hover .loc-des .btn_loc {
  margin-top: 5%;
}

.btn_loc {
  background-color: #262626;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  margin-top: 20%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.btn_loc:hover {
  background-color: #ffffff ;
  color: #262626;
}

/* The Modal (background) */
.loc-modal {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  display: none; /* Hidden by default */
  overflow: auto; 
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Loc-Modal Content */
.loc-modal-content {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.39);
  margin: auto;
  padding: 0;
  position: relative;
  height: 92%;
  width: 70%;
}

/* The Close Button */
.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 3px;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.loc-modal-header {
  background-color: #3f704d;
  color: #ffffff;
  padding: 2px 16px;
}

.loc-modal-header h2{
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.loc-modal-body {
  padding: 2px 16px;
}

.modal-map {
  float: right;
  position: relative;
  top: 10px;
  right: 100px;
  height: 500px;
  width: 400px;
}

.mini-modal-map {
  display: none;
}

.loc-info {
  float: left;
  font-weight: bold;
  padding-bottom: 30px;
  position: relative;
  left: 40px;
  top: 40px;
  text-align: left;
}

/* Tabs */
.tab {
  background-color: #3f704d;
  margin: auto;
  overflow: hidden;
  width: 68%;
}

.tab button {
  background-color: inherit;
  border: none;
  color: #FFF;
  cursor: pointer;
  float: right;
  font: normal 105% arial, sans-serif;
  letter-spacing: 0em;
  outline: none;
  padding: 10px 22px 8px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  width: 20%;
}

.tab .active {
  background-color: white;
  color: black;
  opacity: 1;
}

.tablink:hover {
  color: #888;
}

.tabcontent {
  background-color: white;
  color: rgba(0, 0, 0, 1);
  display: none;
  margin: auto;
  margin-bottom: 110px;
  padding: 20px 20px 0px 30px;
  text-align: left;
  height: 100%;  
  width: 70%;
}

/* For mobile devices */
@media screen and (max-width: 800px) {
  body {font: normal 0.98em arial, sans-serif;}
  #page_content,
  #header,
  #footer {width: 100%;}
  #logo {background: url("content_2.jpg");}
  #logo_text h2 {color: #B0B0B0;}
}

@media only screen and (max-width: 500px) {
  .slides-prev, .slides-next,.text {font-size: 11px;}
}

@media only screen and (max-width: 800px){
  .loc-column {
    float: left;
    padding: 0 12px;
    padding-left: 0;
    padding-top: 16px;
    width: 100%;
  }

  .loc-column:last-child {
    width: 100%;
    position: relative;
    left: 0;
  }

  .loc-des {
    width: 100%;
    height: 100%;  
    background-color: #3f704d;
    opacity: 1;
    color: #ffffff;
    padding-top: 0px;
  }

  .loc-thumb:hover .loc-des {
    padding-top: 0px;
  }

  .loc-thumb {
    height: 160px;
    margin-top: 20px;
  }

  .btn_loc {
    width: 100%;
    height: 100%;
    padding: 22px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
  }

  .loc-thumb img {
    display:none;
  }
}

@media screen and (max-width: 800px) {
  .modal-map {
    display: none;
  }

  .mini-modal-map {
    display: block;
    padding-top: 10px;
  }

  .loc-modal-content {
    width: 100%;
    padding-bottom: 200px;
    height: 150%;
  }

  .loc-modal {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 800px){
  .tab {
    width: 100%;
  }
  .tab button {
    width: 100%;
    background: #3f704d;
    padding: 14px 16px;
  }
  .tab .active {
    background: white;
    opacity: 0.3;
  }
  .tabcontent {
    width: 96%;
  }
}
